.carrito {
  text-align: right;
}

.carrito a {
  padding: 10px;
  display: inline-block;
}

.carrito a img {
  transition: 0.2s;
}

.carrito a:hover img {
  transform: scale(1.25);
}

.carrito a span {
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  font-size: 0.75em;
}

.detalleCarrito {
  max-width: 800px;
  width: 94%;
  padding: 0 3%;
  margin: 10px auto 50px auto;
}

.detalleCarrito h1 {
  font-size: 2em;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
}

.verProductos,
.limpiarCarrito {
  background: #000;
  border: 2px solid #000;
  color: white;
  font-weight: normal;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 15px;
  margin-top: 25px;
}

.limpiarCarrito {
  font-size: 0.85em;
}

.verProductos:hover,
.limpiarCarrito:hover {
  color: #000;
  background: transparent;
}

.totalCarrito p {
  font-size: 1.75em;
  color: #000;
  margin: 5px auto 15px auto;
}

.terminarCompra,
.registrarCompra {
  background: #000;
  border: 2px solid #000;
  color: white;
  font-weight: normal;
  display: inline-block;
  padding: 5px 25px;
  font-size: 1.15em;
  border-radius: 15px;
  margin-top: 25px;
  margin-left: 128px;
}

.terminarCompra:hover,
.registrarCompra:hover {
  color: #000;
  background: transparent;
}
