body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  background-size: cover;
}

* {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  border: 0;
}

.uncuarto {
  float: left;
  width: 23%;
  padding: 1%;
}

.unquinto {
  float: left;
  width: 18%;
  padding: 1%;
}

.tresquintos {
  float: left;
  width: 58%;
  padding: 1%;
  text-align: center;
}

.clear {
  clear: both;
  padding: 0 !important;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.temporal,
.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
